[Unit]
Description=HoloSpin Python Application
After=network.target

[Service]
Type=simple
User=borys
WorkingDirectory=/home/borys/holoSpin

ExecStart=/home/borys/holoSpin/.venv/bin/python main.py

Restart=always
RestartSec=10
StartLimitInterval=5min
StartLimitBurst=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=holoSpin

[Install]
WantedBy=multi-user.target